
 
    body {
 
        background-image: url(img/fondo3.jpg);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Establece la altura al 100% del viewport */
        margin: 0; /* Asegúrate de que no haya márgenes por defecto */
       }
    

.container{   /*titulo*/
 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(31, 31, 31);
    
   }



.container1{

    display:flex;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    margin-top: 72px;
    margin-bottom:100px;
    
    }
 
    .item3{
 
     background-color: rgb(50, 50, 50);
     height: 655px; /* Ajusta la altura del elemento a 150 píxeles */
     width: 500px; /* Ajusta el ancho del elemento a 200 píxeles */
     margin-right: 40px;
     margin-left: 40px;
     opacity: 70%; 
     text-align: center;
  
 
    }

   

    
 
    