<!DOCTYPE html>
<html lang="es">
<head>
   <link rel="stylesheet" href="{{ .Site.BaseURL }}assent/pintaycolorea.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terricolax</title>
    
</head>
<body>
        <dev class="titulo">
    <!-- Contenido de tu página va aquí -->
    <h1>La web de los terrícolas</h1>
    <h2>Ready para el terricoleo</h2>
        </dev>

        <ul class="navbar">
            <li><a href="https://www.youtube.com/channel/UCy4q_mDWb2f-gj4u4Nf6UqA">YouTube</a></li>
            <li><a href="https://github.com/Scosrom">GitHub</a></li>
            <li><a href="sandracosrom@gmail.com">Contact</a></li>
            <li><a href="#about">Pantano</a></li>
        </ul>
        
   
    
        <!--izquierda-->

        <div class="container">
            <h2>
                Primero
            </h2>
            <div class="item">
                <h3>Redes</h3>
                <img src="ico/redes.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <a href="gbd.html">
                <h3>Base de datos</h3>
                <img src="ico/datos.png" alt="Descripción de la imagen">
                </a>
            </div>
            <div class="item">
                <h3>ISO</h3>
                <img src="ico/linux.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <h3>FHardware</h3>
                <img src="ico/fh.png" alt="Descripción de la imagen">
          </div>
            <!-- Puedes añadir más elementos "item" según sea necesario -->
        </div>


        <!--derecha-->

        <div class="container2">
            <h2>
                Segundo
            </h2>
            <div class="item">
                <h3>Seguridad</h3>
                <img src="ico/redes.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <h3>Base de datos</h3>
                <img src="ico/datos.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <h3>ISO</h3>
                <img src="ico/linux.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <h3>FHardware</h3>
                <img src="ico/fh.png" alt="Descripción de la imagen">
          </div>
            <!-- Puedes añadir más elementos "item" según sea necesario -->
        </div>

        <div class="centro"> 

            <div class="item2">
                <h3>Seguridad</h3>
                <div class="articulo">
                    <p>Tu texto de artículo va aquí. Puedes escribir todo lo que desees.</p>
                </div>

            </div>

            <div class="item2">
                <h3>Servicios en Red</h3>
                <div class="articulo">
                    <p class="poca" style="white-space: pre;">
 Dhcp - dhcp relay - cliente

1. Dhcp
                        
    Adaptador puente
    Red Interna (Red1)

2. Dhcp relay
    
    Red Interna (Red1)
    Red Interna (Red1)
                        
3. Cliente

    Red Interna (Red1)




    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
</P>
                   
                </div>
            </div>

        </div>



</body>
</html>
