<!DOCTYPE html>
<html lang="es">
<head>
   <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pintaycolorea.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terricolax</title>
    
</head>
<body>
        <dev class="titulo">
    <!-- Contenido de tu página va aquí -->
    <h1></h1>
    <h2></h2>


    
        </dev>

        <ul class="navbar">
            <li><a href="https://www.youtube.com/channel/UCy4q_mDWb2f-gj4u4Nf6UqA">YouTube</a></li>
            <li><a href="https://github.com/Scosrom">GitHub</a></li>
            <li><a href="sandracosrom@gmail.com">Contact</a></li>
            <li><a href="#about">Pantano</a></li>
        </ul>
        
   
    
        <!--izquierda-->

        <div class="container">
           
            <div class="item">
                <h3>Redes</h3>
                <img src="ico/redes.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <a href="gbd.html">
                <h3>Base de datos</h3>
                <img src="ico/datos.png" alt="Descripción de la imagen">
                </a>
            </div>
            <div class="item">
                <h3>ISO</h3>
                <img src="ico/linux.png" alt="Descripción de la imagen">
            </div>
            <div class="item">
                <h3>FHardware</h3>
                <img src="ico/fh.png" alt="Descripción de la imagen">
          </div>
          <div class="item">
            <h3>FHardware</h3>
            <img src="ico/fh.png" alt="Descripción de la imagen">
      </div>
            <!-- Puedes añadir más elementos "item" según sea necesario -->
        </div>


        <!--derecha-->

        <div class="container2">
           
            <div class="item1">
                <h3>Script</h3>
                <a class="enlace" href="https://www.youtube.com/channel/UCy4q_mDWb2f-gj4u4Nf6UqA">Servidor Dhcp-Dhcp Relay</a>
            </div>
            <div class="item1">
                <h3>Tareas</h3>
                
                <a class="enlace" href="https://www.youtube.com/channel/UCy4q_mDWb2f-gj4u4Nf6UqA">Servidor Dhcp-Dhcp Relay</a>
            </ul>
            </div>

          
            <!-- Puedes añadir más elementos "item" según sea necesario -->
        </div>

        <div class="centro"> 

            <div class="item2">
                
                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                    <h3>Implementación  Integral de Servicios DHCP con Redundancia y Relay</h3>
                    
                    En este módulo, abordaremos la creación y configuración de un servidor DHCP 
                    (Dynamic Host Configuration Protocol) en un entorno de red empresarial, 
                    enriqueciendo la infraestructura con funcionalidades avanzadas para garantizar 
                    la continuidad del servicio y una gestión eficiente.
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>

                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                    <h3>Despliegue de Aplicaciones PHP con Integración MariaDB en Entorno Debian</h3>
                        En este módulo, nos adentraremos en el despliegue de aplicaciones PHP 
                        vinculadas a una base de datos MariaDB, en el entorno robusto y confiable de Apache2, 
                        sobre un sistema Debian. Este proceso crucial es fundamental para habilitar la interacción 
                        dinámica entre la aplicación y la base de datos, optimizando así la funcionalidad y eficiencia del sistema.
                    
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>

                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                        <h3>Despliegue de Aplicaciones PHP con Integración MariaDB en Entorno Debian</h3>
                        En este módulo, nos adentraremos en el despliegue de aplicaciones PHP 
                        vinculadas a una base de datos MariaDB, en el entorno robusto y confiable de Apache2, 
                        sobre un sistema Debian. Este proceso crucial es fundamental para habilitar la interacción 
                        dinámica entre la aplicación y la base de datos, optimizando así la funcionalidad y eficiencia del sistema.
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>

            </div>
<!--
            <div class="item3">
                
                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                        <h3>Despliegue de Aplicaciones PHP con Integración MariaDB en Entorno Debian</h3>
                        En este módulo, nos adentraremos en el despliegue de aplicaciones PHP 
                        vinculadas a una base de datos MariaDB, en el entorno robusto y confiable de Apache2, 
                        sobre un sistema Debian. Este proceso crucial es fundamental para habilitar la interacción 
                        dinámica entre la aplicación y la base de datos, optimizando así la funcionalidad y eficiencia del sistema.
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>

                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                        <h3>Despliegue de Aplicaciones PHP con Integración MariaDB en Entorno Debian</h3>
                        En este módulo, nos adentraremos en el despliegue de aplicaciones PHP 
                        vinculadas a una base de datos MariaDB, en el entorno robusto y confiable de Apache2, 
                        sobre un sistema Debian. Este proceso crucial es fundamental para habilitar la interacción 
                        dinámica entre la aplicación y la base de datos, optimizando así la funcionalidad y eficiencia del sistema.
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>

                <div class="articulo">
                    
                    <p class="poca" style="white-space: pre;">
                        <h3>Despliegue de Aplicaciones PHP con Integración MariaDB en Entorno Debian</h3>
                        En este módulo, nos adentraremos en el despliegue de aplicaciones PHP 
                        vinculadas a una base de datos MariaDB, en el entorno robusto y confiable de Apache2, 
                        sobre un sistema Debian. Este proceso crucial es fundamental para habilitar la interacción 
                        dinámica entre la aplicación y la base de datos, optimizando así la funcionalidad y eficiencia del sistema.
                    </P> 
                    <a class="des" href="/desc/dhcp-relay.rar" download="nombre_del_archivo.ext">Descarga completa aquí</a>
                </div>
                

            </div>
        
             -->    

        </div>


<script src="/static/js/js.js"></script>

</body>
</html>
</html>
